<div class="container" *ngFor="let data of supportModel">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-12">
      <h1 class="hedSupport">Support</h1>
      <h5>
         <span class="maiLss">
           Email:  
         </span> 
         <strong
          class="supportId">{{data.emailId}}</strong>
        <h6 class="supportcall">Call : WhatsApp:
            <i class="fa fa-whatsapp" aria-hidden="true"></i> +{{data.whatsappNumber}}
          ({{data.openTimings}})</h6>
      </h5>
    </div>
  </div>
</div>
