<div class="row">
  <div class="col-md-12 mt-5 py-5 border">
    <div class="row">
      <div class="form-group col-md-2" *ngIf="showImage === false">
        <strong style="margin: 20px;">Current Logo</strong>
        <div class="form-group col-md-12">
          <mat-card class="card" style="width: 133px">
          <img *ngFor="let url of headerModel" [src]="url.logImageName" class="brandLogo">
        </mat-card>
        </div>
      </div>
      <div class="col-md-2" *ngIf="showImage === false">
        <button mat-raised-button  (click)="imageShow()" class="buttonClr">
        Edit Logo
        </button>
      </div>
      <div class="col-md-6" *ngIf="showImage === true">
        <div class="col-md-3">
          <strong>Prime Image</strong>
          <input type="file" (change)="handleFileInput1($event.target.files)" name="file">
        </div>

        <div class="col-md-8 " *ngFor="let url of urls">
          <mat-card class="cradsTin">
            <img class="img-fluid" [src]="url" />
          </mat-card>
        </div>
        
        <div class="cradsTinss">
          <button mat-raised-button (click)="updateLogo(headerModel)" class="buttonuD">Update</button>
          <button mat-raised-button (click)="cancelImage()" class="buttonuD">Cancel</button>
        </div>
      </div>
    </div>
    <div *ngIf="editshow === false">
      <div class="form-row gridFrm" *ngFor="let data of profileModel">
        <div class="col-md-12">
          <button mat-raised-button (click)="getShowEdit()" class="buttonClr" style="margin-bottom: 20px;">Edit Below</button>
        </div>
        <div class="col-md-4  col-6">
          <div class="form-group">
            <label class="divLable">First Name</label>
          </div>
        </div>
        <div class="col-md-8  col-6">
          <div class="form-group">
            : <label class="itemLable">{{data.firstName}}</label>
          </div>
        </div>
        <div class="col-md-4  col-6">
          <div class="form-group">
            <label class="divLable">Last Name</label>
          </div>
        </div>
        <div class="col-md-8  col-6">
          <div class="form-group">
            : <label class="itemLable">{{data.lastName}}</label>
          </div>
        </div>
        <div class="col-md-4  col-6">
          <div class="form-group">
            <label class="divLable">Company Name</label>
          </div>
        </div>
        <div class="col-md-8  col-6">
          <div class="form-group">
            : <label class="itemLable">{{data.companyName}}</label>
          </div>
        </div>
        <div class="col-md-4  col-6">
          <div class="form-group">
            <label class="divLable">Country</label>
          </div>
        </div>
        <div class="col-md-8  col-6">
          <div class="form-group">
            : <label class="itemLable">{{data.country}}</label>
          </div>
        </div>
        <div class="col-md-4  col-6">
          <div class="form-group">
            <label class="divLable">E-Mail ID</label>
          </div>
        </div>
        <div class="col-md-8  col-6">
          <div class="form-group">
            : <label class="itemLable">{{data.emailId}}</label>
          </div>
        </div>
        <div class="col-md-4  col-6">
          <div class="form-group">
            <label class="divLable">Mobile Number</label>
          </div>
        </div>
        <div class="col-md-8  col-6">
          <div class="form-group">
            : <label class="itemLable">{{data.mobileNumber}}</label>
          </div>
        </div>
      </div>
    </div>



    <form [formGroup]="profileForm" novalidate (ngSubmit)="!profileForm.invalid && onSubmit(profileForm, profileValue)"
      *ngIf="editshow ===true">
      <div class="form-row">




        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" maxlength="20" [ngModel]="profileValue.firstName"
              formControlName="firstName" required>

            <mat-error *ngIf="profileForm.controls['firstName'].errors?.required">
              firstName is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" maxlength="20" [ngModel]="profileValue.lastName"
              formControlName="lastName" required>

            <mat-error *ngIf="profileForm.controls['lastName'].errors?.required">
              lastName is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Company Name" formControlName="companyName"
              [ngModel]="this.profileValue.companyName" [required]="false">

          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Country" maxlength="10" formControlName="country"
              [ngModel]="this.profileValue.country" required>

            <mat-error *ngIf="profileForm.controls['country'].errors?.required">
              Country is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="E=Mail ID" [ngModel]="profileValue.emailId" formControlName="emailId" required>

            <mat-error *ngIf="profileForm.controls['emailId'].errors?.required">
              EailId
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!--    </div> -->
        <!-- <div class="form-row"> -->

        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="mobileNumber" [ngModel]="profileValue.mobileNumber" maxlength="10"
              formControlName="mobileNumber" required>

            <mat-error *ngIf="profileForm.controls['mobileNumber'].errors?.required">
              Mobile Number is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">


        <div class="col-md-12">
          <p class="float-right">
            <button mat-raised-button  type="submit" class="buttonuD">Update</button>
          </p>
            <p>
            <button mat-raised-button  class="buttonuD" (click)="cancel()" type="submit">Cancel</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>