<form [formGroup]="LogInForm" (ngSubmit)="!LogInForm.invalid && onSubmit(LogInForm)" novalidate>
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 col-3">
    </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-6 gridRow">
       
        <h5 class="cartHeader">
          <div *ngFor = 'let data of loginLogo' >
<img  [src]= 'data.images' style="width: 20px">
          </div>
          Login
        </h5>
        <div class="row registerSetup">
          <div class="alert alert-danger" *ngIf="loginFailed">
            Please Enter Valid Details
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12 col-12">
            <mat-form-field>
              <input matInput placeholder="Email-ID" formControlName="emailId" required>
              <button mat-button matSuffix mat-icon-button aria-label="Mobile Number">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </button>
              <mat-error *ngIf="LogInForm.controls['emailId'].errors?.required">
                Email ID is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12 col-12">
            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password" required>
              <button mat-button matSuffix mat-icon-button aria-label="Password">
                <i class="fa fa-unlock" aria-hidden="true"></i>
              </button>
              <mat-error *ngIf="LogInForm.controls['password'].errors?.required">
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12 col-12">
            <div class="login">
              <button class="registerButton" mat-stroked-button type="submit">Login</button>
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-4 col-lg-4 col-xl-4 col-3">
    </div>
  </div>
</form>
