<div class="mail-form">

    <div class="defult">
            <div class="container">
              <br>
              <div class="jumbotron">
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8">
                    <h3 class="tag-h2">Business Login</h3>
                    <p class="tag-p"> </p>
                    <form>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-at" aria-hidden="true"></i>
                          </div>
                        </div>
                      
                          <input type="email" class="form-control" placeholder="enter your mail id"    >
                       
                      </div>

                      <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                            </div>
                          
                              <input type="password" class="form-control" placeholder="enter your password"   >
                           
                          </div>

                      <div class="buttons">
                        <button type="button" style="width: 200px;" 
                        (click)="goToCompanyDetails()"
                        class="btn btn-outline-secondary btn-md">Submit</button>
                      </div>
                    </form>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>

