<div>
  <div>
    <label>Company Images</label>
    <div class="form-group col-md-12" *ngFor="let data of headerModel">
      <img *ngFor="let url of data.companyImageName" [src]="url" style="width: 100px; height: 100px;" />
      <!-- *ngFor="let url of headerModel" -->
    </div>
  </div>


  <div class="row">

    <label>
      <input type="file" (change)="handleFileInput($event.target.files)" multiple>
    </label>
    <div class="row">
      <div class="col-md-4 pb-2" *ngFor="let url of urls">
        <mat-card>
          <img class="img-fluid" [src]="url" height="100px" width="150px" />
        </mat-card>
      </div>
    </div>
    <div class="col-md-1">
      <p class="float-right">
        <button mat-raised-button color="primary" (click)="uploadImages()" type="submit">Update</button>
      </p>
    </div>
  </div>
</div>