<div class="container-fluid">  
    <div *ngFor="let data of arrayValue" class="border-bottom"> 
     <div class="row">
       <div class="col-sm-4">

       </div>
       <div class="col-sm-6">
         <div class="row">
           <h4>{{data.companyName}}</h4>
         </div>
         <div class="row">
           <label>categories: </label>&nbsp;&nbsp;&nbsp;{{data.categories}}
         </div>
         <div class="row">
           <label><i class="fa fa-flag" aria-hidden="true"></i> </label>&nbsp;&nbsp;&nbsp;{{data.country}}
         </div>
         <div class="row">
           <label>rating: </label>&nbsp;&nbsp;&nbsp;{{data.rating}}
         </div>
       </div>
       <div class="col-sm-2">
         <button class="btn btn-success">Enquiry Now</button>
       </div>






     </div>




      
    </div>  
</div>