<!-- <div class="container">
<div class="row">
<div class="card col-md" style="width: 18rem;">
   
    <div class="card-body">
        <img class="mySlides" src="../../../assets/images/0-02-03-5e282339915ec6ba84d63e281660bf30c3d4972ec32e622f5d94677f4a23bcc5_1e8f34f2.jpg" alt="custom_html_banner1" style="width:100%">
    </div>
  </div>
  <div class="card col-md" style="width: 18rem;">
     
      <div class="card-body">
          <img class="mySlides" src="../../../assets/images/0-02-03-53113e089598cbc6e8fad5f5d3d15379100e84c11fc9a4c584f005558adfb4b7_53224c41.jpg" alt="custom_html_banner1" style="width:100%">
      </div>
    </div>
    <div class="card col-md" style="width: 18rem;">
       
        <div class="card-body">
            <img class="mySlides" src="../../../assets/images/0-02-03-129b21d51b3f7eddef496bde26e87b4c26fd4d9a1e47f21d3c335fd1ad66dfb0_f422cfa3.jpg" alt="custom_html_banner1" style="width:100%">
        </div>
      </div>
    </div>       
</div> -->

<div class="promotion1"> 
        <h1 class="our-h1"><h3>Explore Our Lists</h3></h1>
        <br>
        <div>
          <div class="row gridImg">
            <div class="col-md-3 col-3 names" >
              <div class="promoImg" >
              <img src="../../../assets/images/tcs.jpg"  class="img-responsive">
            </div>
              <b>TCS</b>
              <br>
              Tcs, software company
            </div>
            <div class="col-md-3 col-3 names" >
                    <div class="promoImg" >
                    <img src="../../../assets/images/Image.jpg"  class="img-responsive">
                  </div>
                    <b>Hyundai</b>
                    <br>
                    Car, Bike
                  </div>
                  <div class="col-md-3 col-3 names" >
                        <div class="promoImg" >
                        <img src="../../../assets/images/Logo Rinteger.jpg"  class="img-responsive">
                      </div>
                        <b>Rinteger</b>
                        <br>
                        shooting, editing
                      </div>
                      <div class="col-md-3 col-3 names" >
                            <div class="promoImg" >
                            <img src="../../../assets/images/md.JPG"  class="img-responsive">
                          </div>
                            <b> MD Life Style</b>
                            <br>
                            shooting, editing
                          </div>
          </div>
      
      
        </div>
      </div>