
<div class="mail-form" style="padding-bottom: 100px;">

    <div class="defult">
            <div class="container">
              <br>
              <div class="jumbotron">
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8">
                    <h3 class="tag-h3">Subscribe</h3>
                    <p class="tag-p"> </p>
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
                            </div>                      
                              <input type="text" class="form-control" placeholder="enter your name" >                      
                          </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-at" aria-hidden="true"></i></div>
                        </div>                      
                          <input type="email" class="form-control" placeholder="enter your e-mail" >                      
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                          </div>                        
                            <input type="tel" class="form-control" placeholder="enter your mobile number" >                        
                        </div>
                      <div class="buttons">
                        <button type="button" style="width: 200px;" class="btn btn-outline-secondary btn-md">Submit</button>                      </div>
                    </form>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          


</div>

