<div class="container-fluid" *ngFor="let data of listingModel">
  <img class="mySlides" [src]="data.logImageName" alt="custom_html_banner1">
  <div class="text-block">
    <h3>{{data.companyName}}</h3>
    <p>{{data.emailId}}</p>
    <p>{{data.mobileNumber}}</p>

  </div>
  <div class="row">
    <div class="col-md-6 mt-5  border ">
      <div class="col-md-12 column" *ngFor="let url of data.companyImageName">
        <img [src]="url" alt="..." class="img-thumbnail" style="width: 200px; height: auto;">

      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="vl"></div>
    <div class="col-md">
      <div class="card text-white bg-dark mb-3" style="max-width: 10rem;" align="center" *ngIf ="showcounting === true">
        <div class="card-header">Number of Visitors</div>
        <div class="card-body">
          <h5 class="card-title">{{this.counting}}</h5>
          <p class="card-text"><a (click)="getFullDetail()"> detail </a> </p>
        </div>
      </div>
      <ul>

        <h5>{{data.companyName}}</h5><br>
        <li>
          <p>{{data.mobileNumber}}</p>
        </li>
        <li>
          <p>{{data.emailId}}</p>
        </li>
        <li>
          <p>{{data.country}}</p>
        </li>

      </ul>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-7">
      <label>All Reviews</label>
      <hr>
      <div class="col-md-12" *ngFor="let data of reviewModel">
        <div class="name-date">
          {{data.userName}}, {{data.date}}
        </div>
        <div class="title">
          <b>{{data.reviewTitle}}</b>
        </div>
        <div class="desc">
          {{data.reviewDescription}}
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-5">
      <h4>Post a review</h4>
      <br>
      <input type="text" placeholder="Title" #title style="width: 100%; background-color:  rgb(235, 235, 228);">
      <br><br>
      <textarea name="" id="" cols="100" placeholder="Review" #desc rows="10"
        style="background-color:  rgb(235, 235, 228)"></textarea>
      <button class="btn btn-success" (click)="postReview(title.value, desc.value)">Post</button>
    </div>
  </div>
  <br><br>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h3>Similar Company</h3>
        <br>
        <div class="row">
          <div class="col-md-2" *ngFor="let data of company">
            <a (click)="getSelectedCompany(data)"> <img [src]="data.logImageName" alt="custom_html_banner1"
                style="width: 200px; height: 200px;">
              {{data.companyName}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
