<div class="container" *ngFor="let data of listingModel">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-12 GridOnzz">
      <mat-card class="viewOnz">
        <img class="viewOnes" [src]="data.logImageName" alt="custom_html_banner1">
        <div class="text-block">
          <h3 class="nameCny">{{data.companyName}}</h3>
          <p class="cnyMail">{{data.emailId}}</p>
          <p class="cnyMail">{{data.mobileNumber}}</p>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 col-12" *ngFor="let url of data.companyImageName" >
      <div class="marSpace">
        <img [src]="url" alt="..." class="imglgsz">
      </div>
    </div>

    <div class="col-md-8" style="background: rgb(255, 255, 255);">
      <div class="row">
        <div class="col-md-6">
            <mat-card class="card text-white bg-darks " *ngIf="showcounting === true">
                <div class="card-header" class="Whole">Number of Visitors</div>
                <mat-card-content>
                  <mat-card-title>
                    {{this.counting}}
                  </mat-card-title>
                  <p class="card-text"><a (click)="getFullDetail()" class="Whole"> detail </a> </p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-6">
            <ul style="list-style: none;">
                <h5 class="cnyWhole">{{data.companyName}}</h5><br>
                <li>
                  <p class="Whole">
                    <i class="fa fa-arrow-right arrowOne" aria-hidden="true"></i>
                    {{data.mobileNumber}}
                  </p>
                </li>
                <li>
                  <p class="Whole">
                    <i class="fa fa-arrow-right arrowOne" aria-hidden="true"></i>
                    {{data.emailId}}
                  </p>
                </li>
                <li>
                  <p class="Whole">
                    <i class="fa fa-arrow-right arrowOne" aria-hidden="true"></i>{{data.country}}
                  </p>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-7">
      <label class="onsDay">
        All Reviews
        <i class="fa fa-commenting" aria-hidden="true"></i>
      </label>
      <hr>
      <div class="col-md-12" *ngFor="let data of reviewModel">
        <div class="name-date">
         {{data.userName}},
         {{data.date}}

          <b>{{data.reviewTitle}}</b>
        </div>
        <div class="desc">
          {{data.reviewDescription}}
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-5">
      <h4 class="postRw">Post a review</h4>
      <input type="text" placeholder="Title" #title>
      <br><br>
      <textarea name="" id="" cols="100" placeholder="Review" #desc rows="10" class="ClassZ"></textarea>
      <button style="background: green; color: white;" mat-stroked-button  (click)="postReview(title.value, desc.value)"><b>Post</b></button>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h3 class="onsDay">Similar Company</h3>
        <div class="row">
          <div class="col-md-2" *ngFor="let data of company">
            <a (click)="getSelectedCompany(data)">
              <img [src]="data.logImageName" alt="custom_html_banner1" class="fzzZ">
             <h3 class="cnyWhole">{{data.companyName}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>