<div class="container-fluid" *ngFor="let data of listingModel">
  <img class="mySlides" [src]="data.logImageName" alt="custom_html_banner1">
  <div class="text-block">
      <h3>{{data.companyName}}</h3>
      <p>{{data.emailId}}</p>
      <p>{{data.mobileNumber}}</p>
    
    </div>
<div class="row">
  <div class="col-md-6 mt-5  border " >
      <div class="col-md-12 column" *ngFor="let url of data.companyImageName">
          <img [src]="url" alt="..." class="img-thumbnail" style="width: 200px; height: auto;">
          
        </div>
  </div>
  <div class="col-md-1"></div>
  <div class="vl"></div>
  <div class="col-md">
    <ul>
     
        <h5>{{data.companyName}}</h5><br>
     <li>
       <p>{{data.mobileNumber}}</p>
     </li>
     <li>
        <p>{{data.emailId}}</p>
     </li>
     <li>
       <p>{{data.country}}</p>
     </li>
    
    </ul>
  </div>
</div>
<div class="row">
  
</div>

  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <br>
     
      <ul>
        <li>
          <p></p>
        </li>
        <li>
          <p> {{data.mobileNumber}}</p>
        </li>
        <li>
          <p> {{data.country}}</p>
        </li>
        <a href=""> {{data.weblink}}</a>
      </ul>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <h6>Tcs, software company</h6>
    </div>
  </div>
</div>
