<div class="row">
  <div class="col-md-12 mt-5 py-5 border">
    <div *ngIf="this.oldMenu === false">
      <div class="col-md-5">

        <input matInput type="tel" #oldPassword placeholder="Enter your current password" style="width: 50%">
        <mat-error *ngIf="this.enterPassword === true">
          Enter your Password
        </mat-error>
        <mat-error *ngIf="this.currectPassword === true">
          Enter currect Password
        </mat-error>
      </div>
      <div class="col-md-2">
        <button mat-stroked-button (click)="submitOld(oldPassword.value)">Submit</button>
        <button mat-stroked-button (click)="cancel()">Cancel</button>
      </div>
    </div>
    <div *ngIf="this.oldMenu === true">
      <input matInput type="tel" #Password placeholder="Enter New Password" style="width: 50%">
      <button mat-stroked-button (click)="submitNew(Password.value)">Submit</button>
    </div>


  </div>
</div>