<div class="container">
<div class="row">
  <div class="col-md-12 mt-5 py-5 borderZ">
    <div *ngIf="this.oldMenu === false">
      <div class="col-md-5">
     <input matInput type="tel" #oldPassword placeholder="Enter your current password" class="form-control">
        <mat-error *ngIf="this.enterPassword === true">
          Enter your Password
        </mat-error>
        <mat-error *ngIf="this.currectPassword === true">
          Enter currect Password
        </mat-error>
      </div>
      <div class="col-md-8" >
        <button mat-stroked-button (click)="submitOld(oldPassword.value)" class="finZ" style="margin: 15px;">Submit</button>
        <button mat-stroked-button (click)="cancel()" class="finZ">Cancel</button>
      </div>
    </div>
    <div *ngIf="this.oldMenu === true" class="finalz">
      <input matInput type="tel" #Password placeholder="Enter New Password" class="form-control">
      <h6 style="text-align: center;">
        <button mat-stroked-button (click)="submitNew(Password.value)" class="cliX">Submit</button></h6>
    </div>
  </div>
</div>