<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <b>
          <i class="fa fa-asterisk" aria-hidden="true"></i>
          Fill the Basic Details
        </b>
      </ng-template>
      <mat-card class="card controlAll">
        <div class="row carDRF">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="FirstName" formControlName="firstName" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="LastName" formControlName="lastName" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="CompanyName" formControlName="companyName" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Country" formControlName="country" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="EmailId" formControlName="emailId" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Mobile Number" formControlName="mobileNumber" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" min="8" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Confirm Password" formControlName="confirmPassword" min="8" >
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <div>
        <button mat-stroked-button [ngStyle]='buttonStyle' matStepperNext><b>Next</b></button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
        <b>
          <i class="fa fa-asterisk" aria-hidden="true"></i>
          Address Details
        </b>
      </ng-template>
      <mat-card class="card controlAll">
        <div class="row carDRF">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Address Line1" formControlName="addressLine1" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Address Line2" formControlName="addressLine2" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Land Mark" formControlName="landMark" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="State" formControlName="state" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Pincode" formControlName="pincode" >
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <div>
        <button mat-stroked-button [ngStyle]='buttonStyle' matStepperNext><b>Next</b></button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>
        <i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i>
        Select Payment Details
      </ng-template>
      <mat-radio-group aria-label="Select an option" (change)="selectValue($event)">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3" *ngFor="let data of paymentModel">
            <div class="card bg-light mb-3 coVer" style="max-width: 18rem;">
              <div class="card-header headerClass">
                <mat-radio-button color="primary" [value]="data">{{data.month}}</mat-radio-button>
              </div>
              <div class="card-body">
                <h1 class="card-title titleClass">&#36; {{data.amount}}</h1>
                <p class="card-text textClass">{{data.description}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <div id="paypal-button"></div>
          </div>
        </div>
      </mat-radio-group>
      <div>
        <h1 style="text-align: center;">
          <button mat-stroked-button matStepperPrevious [ngStyle]='buttonStyle'><b>Back</b></button>
          <button mat-stroked-button [ngStyle]='buttonStyle' (click)="submit()" matStepperNext><b>Submit</b> </button>
        </h1>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
