<br>



<div class="container">
    <div class="default">
        <nav class="navbar navbar-expand-lg navbar-light "
            style="background-color: rgb(209, 209, 209); height: 60px;">
            <div class="row">
                <div class="col-md-6">
                    <h5 style="text-align: center; color: rgb(136, 136, 136);">REGISTER NOW</h5>
                </div>
                <div class="col-md-6">

                    <div class="login-menu">
                        <ul class="navbar-nav" style="padding-left: 400px;">
                           
                            <li class="nav-item">
                                <a class="nav-link navText" ><b>Signin</b></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link navText" ><b>Login</b></a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>



            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>


</div>

<form>
  
<div class="container" >
    <div class="jumbotron " style="width:100%;">
        <div class="row">
         
            <div class="md-col-8" style="padding-left: 100px;">
                <div class="jumbotron " style="background: rgb(161, 161, 161);">
  <div class="row " >
    <div class="col-md">
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
          </div>
      <input  type="text" class="form-control" placeholder="first name" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="col-md">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
          </div>
      <input type="text" class="form-control" placeholder="last name" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  </div>
  <div class="row " >
      <div class="col-md">
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-building" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="company name" >
      </div>
    </div>
    <div class="col-md">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-flag" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="country" >
      </div>
    </div>
    </div>
    <div class="row " >
        <div class="col-md">
        <div class="input-group mb-3 ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile" aria-hidden="true"></i></span>
          </div>
          <input type="tel" class="form-control" placeholder="mobile number" >
        </div>
      </div>
      <div class="col-md">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
          </div>
          <input type="tel" class="form-control" placeholder="landline number" >
        </div>
      </div>
      </div>
      <div class="row " >
          <div class="col-md">
          <div class="input-group mb-3 ">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-at" aria-hidden="true"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="email ID" >
          </div>
        </div>
        <div class="col-md">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-at" aria-hidden="true"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="alternate email ID" >
          </div>
        </div>
        </div>
        <div class="row " >
            <div class="col-md">
            <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" >
            </div>
          </div>
          <div class="col-md">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Conform Password" >
            </div>
          </div>
          </div>
          <button class="btn btn-default btn-md mr-5" 
          style="width: 200px; color: rgb(114, 114, 114); background:rgb(209, 209, 209);" 
          (click) = "goToPayment()"
          type="submit">Submit</button>
    
          <button class="btn btn-default btn-md "
           style="width: 200px; color: rgb(114, 114, 114); background:rgb(209, 209, 209);" 
           type="submit">Cancel</button>
          </div>
          </div>
          </div>
   </div>       
</div>
</form>
<br>
