<div class="container">

          <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                  <div class="col-md-3">
                    <strong>Prime Image</strong>
                        <input type="file"  (change)="handleFileInput($event.target.files)"  name="file">
                  </div>
                 
                        <div class="col-md-8 " *ngFor="let url of urls">
                          <mat-card>
                            <img class="img-fluid" [src]="url" />
                          </mat-card>
                        </div>
                            
            </div>
            <div class="col-md-6">
                    <div class="col-md-9">
                            <mat-form-field>
                                <input matInput placeholder="Company Name" formControlName="companyName" required>
                              </mat-form-field>
                            </div>
                  <div class="col-md-9">
                      <mat-form-field>
                      <input matInput placeholder="Country" formControlName="country" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-9">
                      <mat-form-field>
                      <input matInput placeholder="EmailId" formControlName="emailId" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-9">
                      <mat-form-field>
                      <input matInput placeholder="Mobile Number" formControlName="mobileNumber"  required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-9">
                      <mat-form-field>
                      <input matInput placeholder="Website Link" formControlName="websitelink"  required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-9">
                        <mat-form-field>
                                <mat-select placeholder="Select the Category" (selectionChange)="changed($event)"
                                 formControlName="category">
                                  <mat-option *ngFor="let data of Category" [value]="data">
                                    {{data.categoryName}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                  </div>
                  <div class="col-md-9">
                      <mat-form-field>
                              <mat-select placeholder="Select the subCategory"
                               formControlName="subCategory">
                                <mat-option *ngFor="let data of subCategory" [value]="data">
                                  {{data.mainCategoryName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                </div>
                  <div class="col-md-6">
                        <button  class="btn btn-dark" >Submit</button>
                  </div>
                  <div class="col-md-6" style="color:red">
                                <input   formControlName="agree"  type="checkbox">Agree - Admin have rights to delete the unwanted content

                  </div>
            </div>
          
        <!--   <div class="col-md-12">
           
            <input   type="checkbox" formControlName="confirmPassword" >Agree
      </div> -->
          </div>
          </form>
        </div>
    
      