<div class="container">
  <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4 col-4">
            <strong class="textLogo">Select Logo</strong>
            <input type="file" (change)="handleFileInput($event.target.files)" name="file">
          </div>
          <div class="col-md-8" *ngFor="let url of urls">
            <mat-card style="width: 30%">
              <img class="img-companyLogo" [src]="url" style="width: 100px" />
            </mat-card>
          </div>
        </div>
      </div>

      <mat-card class="card">
        <div class="col-md-6" style="max-width: 100%">
          <div class="col-md-9 coverWidth">
            <mat-form-field>
              <input matInput placeholder="Company Name" formControlName="companyName" required>
            </mat-form-field>
          </div>
          <div class="col-md-9 coverWidth">
            <mat-form-field>
              <input matInput placeholder="Country" formControlName="country" required>
            </mat-form-field>
          </div>
          <div class="col-md-9 coverWidth">
              <mat-form-field>
                <input matInput placeholder="State" formControlName="state" required>
              </mat-form-field>
            </div>
          <div class="col-md-9 coverWidth">
            <mat-form-field>
              <input matInput placeholder="EmailId" formControlName="emailId" required>
            </mat-form-field>
          </div>
          <div class="col-md-9 coverWidth">
            <mat-form-field>
              <input matInput placeholder="Mobile Number" formControlName="mobileNumber" required>
            </mat-form-field>
          </div>
          <div class="col-md-9 coverWidth">
            <mat-form-field>
              <input matInput placeholder="Website Link" formControlName="websitelink" required>
            </mat-form-field>
          </div>
          <div class="col-md-9 coverWidth">
            <mat-form-field>
              <mat-select placeholder="Select the Category" (selectionChange)="changed($event)"
                formControlName="category">
                <mat-option *ngFor="let data of Category" [value]="data">
                  {{data.categoryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-9 coverWidth">
            <mat-form-field>
              <mat-select placeholder="Select the subCategory" formControlName="subCategory">
                <mat-option *ngFor="let data of subCategory" [value]="data">
                  {{data.mainCategoryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <button mat-stroked-button class="buttonClass"><b>Submit</b></button>
          </div>
          <div class="col-md-6" style="width: 100%; margin: 20px;">
            <mat-checkbox  formControlName="agree" type="checkbox">
              Agree - Admin have rights to delete the unwanted content</mat-checkbox>
            <!-- <input formControlName="agree" type="checkbox">Agree - Admin have rights to delete the unwanted content -->
          </div>
        </div>
      </mat-card>
    </div>
  </form>
</div>