<div class="poliCy">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-12" *ngFor="let data of privayModel">
            <h1 class="support">PRIVACY POLICY</h1>
            <p class="stYle">{{data.policyHeading}} </p>
            <div *ngFor="let val of data.policies">
              <h6 class="hsiX">{{val.policyQuestion}} </h6>
              <p class="priVacy">{{val.policyAnswers}} </p>
            </div>
            <br>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
