<br>
<br>
<form >
<div >
  <div class="row">
      <div class="col-md-12" *ngFor = 'let banner of banners; let i = index'>
        <div *ngIf="slideIndex === i">
          <img  [src]="banner.bannerImage" alt="custom_html_banner1" style="width:100%">
        </div>
      </div>
    <div class="Absolute-Center is-Responsive">
     
 
    <div class="input-group centered" >
       
        <input type="search" class="form-control" placeholder="Search"  aria-describedby="basic-addon2">
      
        <div class="input-group-append">
          <button class="btn btn-info" type="button" (click)="submit()" >Search</button>
        </div>
      </div>
    </div>
    </div>
</div>
</form>

<br>
<br>
<br>
<br>