<br>
<br>
<br>
<form>
<div class="container center_div" style="width:100%;" >
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      
 
    <div class="input-group" >
      
        <input type="search" class="form-control" placeholder="search"  aria-describedby="basic-addon2">
      
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </div>
    </div>
</div>
</form>
<br>
<br>
<br>
<br>