
<h5 align="center">Select Suitable Package</h5>
<br>

<div class="container">
   
    <div class="row">
     
        <div class="col-md-4">
            <div class="card">
                <button type="button" class="btn btn-default btn-md btn-block"
                    style="background: rgb(219, 219, 219);"><b>3 Months</b></button>
               
                <div class="card-body">
                    <h5 style="text-align: center;">description</h5>
                
                        <div class="para">
                            These example sentences are
                            selected automatically from
                            various online news sources to
                            reflect current usage
                            of the word 'three.' Views
                            expressedin the examples do
                            not represent the opinion
                            of Merriam-Webster or its editors.
                        </div>
               

                    <div class="check">
                        <form action="/action_page.php">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio1">
                                    <input type="radio" class="form-check-input" id="radio1" name="optradio"
                                        value="option1" checked>2000-4000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio2">
                                    <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                        value="option2">1000-2000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input">500-1000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input">100-500
                                </label>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <button type="button" class="btn btn-default btn-md btn-block"
                    style="background: rgb(219, 219, 219);"><b>6 Months</b></button>
               
                <div class="card-body">
                    <h5 style="text-align: center;">description</h5>

                        <div class="para">
                            These example sentences are
                            selected automatically from
                            various online news sources to
                            reflect current usage
                            of the word 'three.' Views
                            expressedin the examples do
                            not represent the opinion
                            of Merriam-Webster or its editors.
                        </div>
             
                    <div class="check">
                        <form action="/action_page.php">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio1">
                                    <input type="radio" class="form-check-input" id="radio1" name="optradio"
                                        value="option1" checked>2000-4000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio2">
                                    <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                        value="option2">1000-2000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input">500-1000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input">100-500
                                </label>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <button type="button" class="btn btn-default btn-md btn-block"
                    style="background: rgb(219, 219, 219);"><b>1 Year</b></button>
               
                <div class="card-body">

                    <h5 style="text-align: center;">description</h5>
        
                        <div class="para">
                            These example sentences are
                            selected automatically from
                            various online news sources to
                            reflect current usage
                            of the word 'three.' Views
                            expressedin the examples do
                            not represent the opinion
                            of Merriam-Webster or its editors.
                        </div>
            

                    <div class="check">
                        <form action="/action_page.php">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio1">
                                    <input type="radio" class="form-check-input" id="radio1" name="optradio"
                                        value="option1" checked>2000-4000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio2">
                                    <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                        value="option2">1000-2000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input">500-1000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input">100-500
                                </label>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

