/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/commonStyles.css";
@import "./assets/styles/angularStyle.css";
@import "./assets/styles/bootstrapOverride.css";
/* 
  @font-face {
    font-family: 'Expert San';
    src: url('./assets/Font/Font1/BebasKai.otf');
  }
  @font-face {
    font-family: 'Expert Sans';
    src: url('./assets/Font/Font2/GlacialIndifference-Regular.otf');
  }

  @font-face {
    font-family: 'Expert Sanss';
    src: url('./assets/Font/font3/Poppins-Light.otf');
  } */