<form [formGroup]="ContactForm">
<div class="container">
    
    <h1 class="Inform">Contact Us</h1>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-12" *ngFor="let data of contactUsModel">
           <!-- <span class="totaLic"> call us : </span>
            <span class="informList">
                +{{data.contactNo}}
           </span> -->
           <div>
              <span class="totaLic"> Email Us : </span>
        <span class="informList">
            {{data.emailId}}
          </span>
        </div>
        <!-- <span class="totaLic"> Location :</span> 
          <span class="informList">
            {{data.address}}
          </span> -->
  
    <div>
        <br>

        
        <div class="row">
          <div class="col-md-6">
            
              <div class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="firstName" placeholder="First Name">
                  </mat-form-field>
                </div>
           
            <br>
           
            <div class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="mobileNumber" placeholder="Ph No" >
                </mat-form-field>
              </div>

              <div class="example-form">
                  <mat-form-field class="example-full-width">
                    <textarea matInput formControlName="description" placeholder="Leave a comment"></textarea>
                  </mat-form-field>
                </div>

          </div>
          <div class="col-md-6">
           
              <div class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="lastName" placeholder="Last Name">
                  </mat-form-field>
                </div>
            
            <br>
        
                <div class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="emailId" placeholder="Email" >
                    </mat-form-field>
                  </div>
                 <div class="Vbtn">
                  <button mat-stroked-button (click)="submit(ContactForm)" [ngStyle]='buttonStyle'><b>Submit</b></button>
                </div>
        </div>
      </div>
    

    </div>
  </div>

</div>
</div>
</form>

