.homeCategoriesBlock{
  margin-top: 0;
  position: absolute;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgba(0, 0, 0, 0.651);
  width: auto;
  height: auto;
  color: green;
  transition: all .3s ease;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;

}


.catTopic
{
  color: rgb(1, 105, 1);
  font-family: 'Expert San';
  font-size: 28px !important;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .8px;
  margin-bottom: 20px;
  margin-top: 20px;
text-align: center;
}
.gridTop{
  margin-top: 70px;
}

.addContent{
  text-align: center;
   margin-top: 80px;
   color: rgb(2, 88, 2);
   font-family: 'Expert Sans';
}
.img-ads{
  width: 100%;
  height:20% !important   ;
  border-style: inset rgb(1, 27, 1);
  border-radius: 5px;
}
.catImgs{
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 2px solid rgb(211, 211, 211);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.342), 0 3px 1px -2px rgba(0, 0, 0, 0.397), 0 1px 5px 0 rgba(0, 0, 0, 0.479);
}
.categoryName{
  text-align: center;
  margin-left: 0px;
  margin-top: 5px;
  font-family: 'Expert San';
  font-size: 15px;
  color: green;
  margin-bottom: 0px;
  }
  /* Footers */
  .footers {
    margin-top: 20px;
    background-color: #363b3d !important;
  }
  
  .img-fluid {
    width: 70px;
    height: 30px;
  }
  
  a {
    text-decoration: none;
  }
  
  .text-uppercase{
    color: rgb(255, 255, 255);
    font-family: 'Expert sans';
    font-weight: 800px;
    font-size: 15px;
    letter-spacing: .4px;
    cursor: row-resize;
    
  }
  .subText{
    color: #c9c9c9;
    letter-spacing: .5px;
    font-family: 'Expert Sans';
    font-size: 13px;
    line-height: 30px;
  
  }
  .fa-lg{
    padding: 8px;
    color:rgb(158, 158, 158); 
    cursor: pointer !important;
  
  }

  .gridRow{
    padding-top: 40px;
    max-width: 100% !important;
  }

