<div class="container topAlignContainer">
    <form [formGroup]="customerDetailsForm" (ngSubmit)=" addSingleCustomer(customerDetailsForm)">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <label class="pageBoxLg-label"><b>For More Details</b></label>
        </div>
        
        <div fxFlex="50" class="p-2">
            
          <div *ngIf="!data">
            <mat-form-field class="full-width">
              <input matInput formControlName="mobileNumber"
               placeholder="Mobile Number"  minlength="10"
               required>
               <mat-error *ngIf="customerDetailsForm.controls['mobileNumber'].errors?.required"
            >
            Enter Mobile Number
            <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="!customerDetailsForm.controls['mobileNumber'].errors?.required"
            >
            Enter Valid Mobile Number
            <strong>required</strong>
            </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="!data">
            <mat-form-field class="full-width">
              <input matInput  formControlName="emailId"
                placeholder="Email-ID" required>
              <mat-error *ngIf="customerDetailsForm.controls['emailId'].errors?.required">
                Enter Enter Email-ID
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="!data">
              <mat-form-field class="full-width">
                <input matInput formControlName="customerName" 
                  placeholder="Customer Name" required>
                <mat-error *ngIf="customerDetailsForm.controls['customerName'].errors?.required">
                  Enter Customer Name
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
        </div>
        
       
       
       
        
        
  
        
        <div fxFlex="100" class="mt-1">
          <p style="color: red">Note: Not for Marketing Purpose</p>
        </div>
        
        <div fxFlex="100" class="mt-1">
            <button mat-raised-button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
          <span fxFlex></span>
          <button mat-raised-button type="submit" color="primary">Subscribe</button>
        </div>
      </div>
    </form>
  </div>