<div class="container-fluid footer  footers pt-5">
  <div class="container">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3">
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Information</h5>
            <ul class="list-unstyled">
              <li><a [routerLink]="['/setting/constact']" class="subText">Contact us</a></li>
              <li><a [routerLink]="['/setting/faq']" class="subText">FAQ</a></li>
              <li><a [routerLink]="['/setting/support']" class="subText">Support</a></li>
              <li><a [routerLink]="['/setting/privacypolicy']" class="subText">Privacy Policy</a></li>
              <li><a [routerLink]="['/setting/terms']" class="subText">Terms & Conditions</a></li>
            </ul>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Business </h5>
            <ul class="list-unstyled">
              <li><a [routerLink]="['/account/reg-business']" class="subText">Add your Business</a></li>
              <li><a [routerLink]="['/account/login-business']" class="subText">Business user login</a></li>
            </ul>
          </div>
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Quick Link </h5>
            <ul class="list-unstyled">
              <li><a (click)="getSubscrbe()" class="subText" style="color: rgb(194, 194, 194)">Subscribe</a></li>
              <li><a (click)="getSubscrbe()" class="subText" style="color: rgb(194, 194, 194)">Search business</a></li>
       

              <!-- <li><a [routerLink]="['/account/login-business']">Business user login</a></li> -->
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Mobile & Social </h5>
            <ul class="list-unstyled">
              <li>
                <a href="#">
                  <i class="fa fa-facebook-square fa-lg " aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#" class="fiNal"> @ISL All rights reserved.</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->