
<nav class="navbar navbar-expand-lg navbar-light "
 style="background-color: rgb(101, 103, 104); height: 60px;">
 <div class="logo-img" *ngFor = 'let header of headers'>
    <a class="navbar-brand"  routerLink="home/welcome">
      <img [src]="header.logoImageName" class="logo" [routerLink]="['/home/home-page']">
    </a>
  </div>
<div class="collapse navbar-collapse">
  
  <ul class="navbar-nav ml-auto">
     <!--  <li class="nav-item">
          <a class="nav-link navText" [routerLink]="['/home/home-page']" ><h6>Home</h6></a> 
         </li> -->
    <li class="nav-item"><div (click)="getSubscrbe()">
     <a class="nav-link navText" ><h6>Subscribe</h6></a></div> 
    </li>
  <!--   <li class="nav-item">
      <a class="nav-link navText" ><h6>Login</h6></a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link navText" [routerLink]="['/account/reg-business']"><h6>Add a Business</h6></a>
    </li>
    <li class="nav-item">
      <a class="nav-link navText"  [routerLink]="['/account/login-business']"><h6>MyAccount</h6></a>
    </li>
  </ul>
</div>
 
</nav>