
.d-xs-none h1{
  color: rgb(29, 3, 3);
  font-family:  'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}

.hMenus{
  color: #11770f!important;
  text-transform: uppercase;
  font-family: 'Expert San';
  font-size: 18px;

}
.navbar-light{
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 1px;
  background: #cccccc  !important;
}
